.button {
  align-items: center;
  background-color: #424242;
  border: 0;
  border-radius: 4px;
  color: #fff;
  display: flex;
  margin: 2px;
  padding: 4px 8px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: #6d6d6d;
  cursor: pointer;
}

.button:active {
  background-color: #f57f17;
}