.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input, .select {
  border: none;
  border-bottom: 1px solid #424242;
  color: #424242;
  display: block;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 8px 0;
  width: 100%;
}

.input:focus, .select:focus {
  outline: none;
}