.panel {
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  margin-bottom: 8px;
  padding: 1em;
}

.title {
  border-bottom: 1px solid #424242;
  color: #424242;
  line-height: 1.5;
  text-align: center;
}